* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f0f0f;
}

#container {
  display: flex;

  .image-content {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 600px;
    transition: 0.2s;
    overflow: hidden;
    filter: brightness(30%);
    cursor: pointer;

    .image {
      height: 100%;
    }
    &:hover {
      width: 500px;
      filter: brightness(100%);
    }
  }
}
